{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encerrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        html, body {
                height: 100%;
            }
            .container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    </style>
</head>
<body>
    <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Nome</span>
                                <input type="text" value="{{user.first_name}}" class="form-control" aria-describedby="basic-addon1" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon2">Sobrenome</span>
                                <input type="text" value="{{user.last_name}}" class="form-control" aria-describedby="basic-addon2" disabled>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon3">Estado</span>
                                <input type="text" value="{{user.estado}}" class="form-control" aria-describedby="basic-addon3" disabled>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon4">Cidade</span>
                                <input type="text" value="{{user.cidade}}" class="form-control" aria-describedby="basic-addon4" disabled>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon5">Bairro</span>
                                <input type="text" value="{{user.bairro}}" class="form-control" aria-describedby="basic-addon5" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon6">Estado Civíl</span>
                                <input type="text" value="{{user.estado_civil}}" class="form-control" aria-describedby="basic-addon6" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon7">Serviço</span>
                                <input type="text" value="{{servico.servsolicitado}}" class="form-control" aria-describedby="basic-addon7" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon8">Etiqueta</span>
                                <input type="text" value="{{servico.get_tagservico_display}}" class="form-control" aria-describedby="basic-addon8" disabled>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="input-group">
                              <span class="input-group-text">Data e Horário:</span>
                              <input type="text" aria-label="Data" value="{{servico.data_compromisso|date:'DATE_FORMAT'}}" class="form-control" disabled>
                              <input type="text" aria-label="Horario" value="{{servico.hora_compromisso|time:'TIME_FORMAT'}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Observação</span>
                                <textarea class="form-control" aria-label="Descricao" disabled>{{servico.observacao}}</textarea>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon9">Nome Ajudante</span>
                                <input type="text" value="{{voluntario.first_name}}" class="form-control" aria-describedby="basic-addon8" disabled>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-text">Ajudas Realizadas:</span>
                                <input type="text" class="form-control" value="5" aria-label="Descricao" disabled>
                            </div>
                        </div>

                        <div class="col text-end">
                            <a href="" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Encerrar </a>
                            <a href="{% url 'meus_servicos' %}" type="button" class="btn btn-secondary"> Retornar </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Encerrar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Seu serviço será marcado como finalizado.<br><br>
              Caso confirme, será finalizado o serviço tanto para você, quanto para seu <em>Helper</em>.<br><br>
              Este serviço ficará salvo nos serviços finalizados, porém não poderá ser editado!
            </div>
            <div class="modal-footer">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Certo!</button>
                    <button data-bs-dismiss="modal" type="button" class="btn btn-secondary">Voltar.</button>
                </form>
            </div>
          </div>
        </div>
      </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>